<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0 text-dark">Recipes</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">Recipes</li>
					</ol>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div>


	<section class="content">
		<div class="container-fluid">

			<div class="row" >
				<div class="col-md-3">
					<!-- Profile Image -->
					<div class="card card-primary card-outline">
						<div class="card-body box-profile">
							<div class="text-center">
								<img class="profile-user-img img-fluid img-circle"
								src="../../dist/img/user4-128x128.jpg"
								alt="User profile picture">
							</div>

							<h3 class="profile-username text-center">Nina Mcintire</h3>

							<p class="text-muted text-center">Software Engineer</p>

							<ul class="list-group list-group-unbordered mb-3">
								<li class="list-group-item">
									<b>Ingredient</b> <a class="float-right">-</a>
								</li>
								<li class="list-group-item">
									<b>Rating</b> <a class="float-right">-</a>
								</li>
							</ul>

							<a  class="btn btn-success btn-flat btn-block" data-toggle="modal" data-target="#exampleModal"><b>Edit</b></a>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>

				<div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#ingredient" data-toggle="tab">Ingredients</a></li>
                  <li class="nav-item"><a class="nav-link" href="#costings" data-toggle="tab">Costings</a></li>
                  <li class="nav-item"><a class="nav-link" href="#suppliers" data-toggle="tab">Suppliers</a></li>
                  <li class="nav-item"><a class="nav-link" href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="ingredient">
                    <ul>
						<li *ngFor="let recipe of recipes| async ">
							{{recipe.id}}
							{{recipe.name}}
							{{recipe.description}}
						</li>
					</ul> 
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="costings">

                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="suppliers">
                    
                  </div>

                  <div class="tab-pane" id="reviews">
                    
                  </div>

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->


			</div>

		</div>
	</section>



</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">


				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Recipe</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
				</div>

		</div>
	</div>
</div>





