<!DOCTYPE html>  
  
<html ng-app="myModule">  
<head>  
    <title>Shopping Card</title>  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  
    
</head>  
<body ng-controller="myController">  
    <div class="container py-3">  
 <table class="table">
  <thead class="thead-dark">
        <th>id</th>

    <th>Content</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let beefstew1piece of beefstew1piece">
      <td>{{beefstew1piece.id}}</td>

      <td>{{beefstew1piece.content}}</td>
      <td>{{beefstew1piece.quantity}}</td>
      <td>{{beefstew1piece.unit_price}}</td>
      <td>N{{beefstew1piece.quantity * beefstew1piece.unit_price}}</td>
    </tr>
    <tr>   
     <td colspan="3"></td>
      <td><b>Plate Cost:</b></td>
      <td><b>N50</b></td> </tr>
      <tr>
      <td colspan="3"></td>
      <td><b>SubTotal:</b></td>
      <td><b>N7,350.00</b></td>
    </tr>
            
      <tr>
        <td colspan="3"></td>
        <td><b>Add 10% Variance: </b></td>
        <td> <b>N 735.00</b></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td><b>Total :</b> </td>
        <td><b>{{getTotalAmount()}}</b></td> 
      </tr>
  </tbody>
</table>
    </div>  
</body>  
</html> 
